@media (min-width: 320px) and (max-width: 425px)   {

    .taxicar{position: absolute;
        top: 80%;
        right: calc(21vw - 3%);
        width: 15rem !important; 
        height: 7rem !important;}
    
}

@media (min-width: 425px) and (max-width: 620px) {

    .taxicar{
        position: absolute;
    top: 78%;
    right: calc(21vw - 23%);
    width: 20rem !important;
    height: 7rem !important;
    }
    
}

@media (min-width:620px) and (max-width:800px) {
    .taxicar{
        position: absolute;
    top: 64%;
    right: calc(21vw - 27%);
    width: 28rem !important;
    height: 13rem !important;
    }
}

@media (min-width:800px) and (max-width:1050px) {
    .taxicar{
        position: absolute;
        top: 63%;
        right: calc(21vw - 17%);
        width: 28rem !important;
        height: 13rem !important;
    }
}

@media (min-width: 1050px)  {
    .taxicar{
        position: absolute;
    top: 59%;
    right: calc(21vw - 17%);
    width: 35rem !important;
    height: 13rem !important;
    }
    
}

.suggestions {
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    overscroll-behavior: contain; /* Prevent scroll chaining */
    touch-action: pan-y; /* Enable vertical touch scrolling */
  }
