<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Enquiry</title>
</head>

<body
    style="font-family: Arial, sans-serif; background: #f2f2f2; border-color: #004875; border-width: 10px; padding: 30px; border-style: solid; border-radius: 20px; max-width:600px; margin-left: auto; margin-right: auto;">
    <div>
        <p>Hi {{name}},</p>
        <p>Thank you for your enquiry. We have received the following details:</p>
        <ul>
            <li><strong>Service:</strong> {{service}}</li>
            <li><strong>Contact Number:</strong> {{contact}}</li>
            <li><strong>Trip Details:</strong> {{{tripDetails}}}</li>
        </ul>
        <p>We will get back to you shortly!</p>
        <p>Regards,<br>Bharani Cabs</p>
    </div>
</body>

</html>